In [1]:
import os, signal

import numpy as np
import pandas as pd
import modanez_tools as mt

from datetime import datetime

<h2>Trabalhando com o dataset de acórdãos rotulados

In [2]:
df_rotulados = mt.read_file('dados/AC_CLASS_IMPORT.csv', separator=';', encoding='iso-8859-1')
df_rotulados.info()

Duration: 0:00:00.003817
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NUMACORDAO  330 non-null    object
 1   LABEL_A     330 non-null    int64
 2   LABEL_B     32 non-null     float64
 3   LABEL_C     3 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.4+ KB

In [3]:
df_rotulados.LABEL_A.value_counts()

7     152
2      61
5      48
8      22
1      20
10     10
11      6
4       4
9       3
6       2
3       2
Name: LABEL_A, dtype: int64

In [4]:
df_rotulados.LABEL_B.value_counts()

7.0    14
2.0    10
8.0     4
5.0     3
6.0     1
Name: LABEL_B, dtype: int64

In [5]:
df_rotulados.LABEL_C.value_counts()

7.0    2
8.0    1
Name: LABEL_C, dtype: int64

In [6]:
df_rotulados.rename(columns={'NUMACORDAO': 'ID'}, inplace=True)

df_rotulados.fillna(0, inplace=True)

df_rotulados.LABEL_B = df_rotulados.LABEL_B.astype(int)

df_rotulados.LABEL_C = df_rotulados.LABEL_C.astype(int)

df_rotulados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       330 non-null    object
 1   LABEL_A  330 non-null    int64
 2   LABEL_B  330 non-null    int64
 3   LABEL_C  330 non-null    int64
dtypes: int64(3), object(1)
memory usage: 10.4+ KB

In [7]:
df_acordaos = mt.read_file('dados/df_acordaos.csv')

Duration: 0:00:37.803639

In [8]:
df_acordaos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306986 entries, 0 to 306985
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   ID       306986 non-null  object
 1   DECISAO  306986 non-null  object
dtypes: object(2)
memory usage: 4.7+ MB

In [9]:
# df_acordaos.drop_duplicates(subset=['ID', 'DECISAO'], keep='first', inplace=True)

In [10]:
df_acordaos = pd.merge(df_acordaos, df_rotulados, on='ID', how='left')
df_acordaos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306986 entries, 0 to 306985
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   ID       306986 non-null  object
 1   DECISAO  306986 non-null  object
 2   LABEL_A  330 non-null     float64
 3   LABEL_B  330 non-null     float64
 4   LABEL_C  330 non-null     float64
dtypes: float64(3), object(2)
memory usage: 14.1+ MB

In [11]:
df_rotulados = df_acordaos.loc[df_acordaos.LABEL_A.notnull()]
df_rotulados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 330 entries, 2830 to 306985
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       330 non-null    object
 1   DECISAO  330 non-null    object
 2   LABEL_A  330 non-null    float64
 3   LABEL_B  330 non-null    float64
 4   LABEL_C  330 non-null    float64
dtypes: float64(3), object(2)
memory usage: 15.5+ KB

In [12]:
df_rotulados.LABEL_A.value_counts()

7.0     152
2.0      61
5.0      48
8.0      22
1.0      20
10.0     10
11.0      6
4.0       4
9.0       3
3.0       2
6.0       2
Name: LABEL_A, dtype: int64

In [13]:
df_rotulados.LABEL_B.value_counts()

0.0    298
7.0     14
2.0     10
8.0      4
5.0      3
6.0      1
Name: LABEL_B, dtype: int64

In [14]:
df_rotulados.LABEL_C.value_counts()

0.0    327
7.0      2
8.0      1
Name: LABEL_C, dtype: int64

In [15]:
df_acordaos.LABEL_A.fillna(0, inplace=True)
df_acordaos.LABEL_A = df_acordaos.LABEL_A.astype(int)

df_acordaos.LABEL_B.fillna(0, inplace=True)
df_acordaos.LABEL_B = df_acordaos.LABEL_B.astype(int)

df_acordaos.LABEL_C.fillna(0, inplace=True)
df_acordaos.LABEL_C = df_acordaos.LABEL_C.astype(int)
df_acordaos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306986 entries, 0 to 306985
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   ID       306986 non-null  object
 1   DECISAO  306986 non-null  object
 2   LABEL_A  306986 non-null  int64
 3   LABEL_B  306986 non-null  int64
 4   LABEL_C  306986 non-null  int64
dtypes: int64(3), object(2)
memory usage: 14.1+ MB

In [16]:
# Salva o arquivo em um csv
mt.save_file(df_acordaos.loc[df_acordaos.LABEL_A != 0], 'dados/df_rotulados.csv')

Duration: 0:00:00.457998

In [17]:
mt.save_file(df_acordaos.loc[df_acordaos.LABEL_A == 0], 'dados/df_acordaos_rot.csv')

Duration: 0:01:00.498898

In [ ]:
os.kill(os.getpid(), signal.SIGKILL)